In [3]:
import pandas as pd

file = pd.read_csv("CSV_Files/data.csv", index_col=0)

print("\n##Data with their Frequencies: \n")
x = file.groupby('Age').Age.count()# creates a series of the frequency of Age col
print(x)

print("\n##Frequency of Minimum Age in basis of Gender_1: \n")
x = file.groupby('Gender').Age.min()
print(x)

print("\n##Frequency of Maximum Age in basis of Country: \n")
x = file.groupby('Country').Age.max()
print(x)

print("\n##Country wise Id division: \n")
x = file.groupby('Country').apply(lambda p: p.Id)
y = file.groupby('Country').apply(lambda p: p.Id.iloc[0])
print(y)
print(x)

x = file.groupby(['Country', 'Date']).apply(lambda p: p.loc[p.Age.idxmin()]) #confused
print(x)

print("\n##Stats about Age of Different Countries\n")
x = file.groupby('Country').Age.agg([len,min,max,]) #show little stats about the Age of Different countries
print(x)

print("\n##Stats about Age of Different Countries & Gender \n")
k = file.groupby(['Country','Gender']).Age.agg([len]) #show little stats about the Age of Different countries
print(k)

##Data with their Frequencies:

Age
21    1
23    1
24    3
25    3
26    5
27    2
28    5
29    3
31    1
32    3
34    2
35    1
36    3
37    4
38    1
39    4
40    1
41    1
42    1
46    2
52    1
56    1
58    1
Name: Age, dtype: int64

##Frequency of Minimum Age in basis of Gender_1:

Gender
Female    23
Male      21
Name: Age, dtype: int64

##Frequency of Maximum Age in basis of Country:

Country
France           46
Great Britain    56
United States    58
Name: Age, dtype: int64

##Country wise Id division:

Country
France           2587
Great Britain    1582
United States    1562
dtype: int64
Country
France         3     2587
               12    2579
               16    1546
               17    3579
               19    9654
               20    3569
               24    5489
               25    6574
               28    5412
               34    7569
               37    8642
               43    3259
Great Britain  2     1582
               7     3598
               10    5486
               11    1258
               13    3256
               14    2587
               15    3259
               18    6597
               23    5489
               26    5555
               30    3264
               31    4569
               32    7521
               33    6458
United States  1     1562
               4     3549
               5     2468
               6     2554
               8     2456
               9     6548
               21    2564
               22    8561
               27    6125
               29    3256
               35    8514
               36    8563
               38    9536
               39    2567
               40    2154
               41    3265
               42    8765
               44    3567
               45    6540
               46    2654
               47    6525
               48    3265
               49    3265
               50    6125
Name: Id, dtype: int64
                         First_Name  Last_Name  Gender        Country  Age  \
Country       Date
France        15/10/2017     Lester    Prothro    Male         France   21
              16/08/2016     Kelsie    Wachtel  Female         France   27
              21/05/2015   Shavonne        Pia  Female         France   24
Great Britain 15/10/2017       Veta      Muntz  Female  Great Britain   37
              16/08/2016       Mara  Hashimoto  Female  Great Britain   25
              21/05/2015     Marcel  Zabriskie    Male  Great Britain   26
United States 15/10/2017   Kathleen     Hanner  Female  United States   25
              16/08/2016     Tommie  Underdahl    Male  United States   26
              21/05/2015     Gaston      Brumm    Male  United States   24

                                Date    Id  Salary
Country       Date
France        15/10/2017  15/10/2017  6574     278
              16/08/2016  16/08/2016  8642     290
              21/05/2015  21/05/2015  1546     269
Great Britain 15/10/2017  15/10/2017  4569     284
              16/08/2016  16/08/2016  1582     255
              21/05/2015  21/05/2015  2587     267
United States 15/10/2017  15/10/2017  3549     257
              16/08/2016  16/08/2016  3265     294
              21/05/2015  21/05/2015  2554     259

##Stats about Age of Different Countries

               len  min  max
Country
France          12   21   46
Great Britain   14   25   56
United States   24   24   58

##Stats about Age of Different Countries & Gender

                      len
Country       Gender
France        Female    8
              Male      4
Great Britain Female   13
              Male      1
United States Female   17
              Male      7

In [2]:
print("\n##Sorted Data: ")

##Sorted Data:

In [17]:
print("\n##Sorted Data: ")
country_data = file.groupby('First_Name').First_Name.agg([len])
#sorted_country = country_data.sort_values(by='len')
print(country_data)

##Sorted Data:
            len
First_Name
Angel         1
Angelyn       1
Arcelia       1
Belinda       1
Carla         1
Chase         1
Demetria      1
Dewitt        1
Dorcas        1
Dulce         1
Earlean       1
Etta          1
Fallon        1
Felisa        1
Francesca     1
Franklyn      1
Garth         1
Gaston        1
Holly         1
Jeromy        1
Jona          1
Judie         1
Kathleen      1
Kelsie        1
Kina          1
Lauralee      1
Lester        1
Libbie        1
Loreta        1
Many          1
Mara          1
Marcel        1
Marvel        1
Nena          1
Nereida       1
Philip        1
Rasheeda      1
Roma          1
Sau           1
Shanice       1
Shavon        1
Shavonne      1
Sherron       1
Stasia        1
Teresa        1
Tommie        1
Veta          1
Vincenza      1
Weston        1
Willodean     1